@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="bg-light text-center">Festivals</h1>
    <hr />
    <img src="~/images/bier.jpg" class="img-fluid mt-3" alt="Responsive image">
</div>
