@model DevelopersIndexViewModel

@{
    ViewData["Title"] = "Developers";
}

<h2>Developers</h2>

<ul>
    @foreach(var developer in Model.Developers)
            {
                <li><a asp-controller="Developers" asp-action="Details" asp-route-id="@developer.Id"> @developer.Name</a></li>
            }
</ul>

<label asp-for="DevelopersCount"></label> : <span class="badge badge-secondary">@Model.DevelopersCount</span>
<hr />
<a asp-action="add" class="btn btn-primary">Add new developer</a>