@model PlatFormIndexViewModel
@{
    ViewData["Title"] = "Platforms";
}

<h2>Platforms</h2>

<ul>
    @foreach(var platform in Model.Platforms)
    {
        <li><a asp-controller="Platforms" asp-action="Details" asp-route-id="@platform.Id">@platform.Name</a></li>
    }
</ul>

<a asp-action="add" class="btn btn-primary">Add new Platform</a>

