<div id="app">
    <h1 class="bg-light text-center">{{pageTitle}}</h1>
    <hr />
    <div v-if="error" class="alert alert-danger" role="alert">
        <p v-for="error in userMessage">
            <span v-for="error in error.Name"><br />{{error}} </span>
            <span v-for="error in error.Description"><br />{{error}} </span>
        </p>
    </div>
    <div v-if="success" class="alert alert-success" role="alert">
        {{userMessage}}
    </div>
    <form v-on:submit.prevent="addGenre" class="col col-lg-5 mx-auto">
        <div class="form-group">
            <label>name</label>
            <input v-model="genreModel.name" class="form-control">
        </div>
        <div class="form-group">
            <label>description</label>
            <input v-model="genreModel.description" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="~/js/Genres/addGenre.js"></script>