@{
    ViewData["Title"] = "Home Page";
}
@section head {
    <environment names="Production, Staging">
        <link rel="stylesheet" asp-append-version="true" href="~/styles/background.css" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" asp-append-version="true" href="~/styles/background.css" />
    </environment>
}
<div class="col-md-6 offset-md-3 mt-md-5">
    <h1 class="text-center display-3">Welcome to Game shop <br /> <small class="text-muted">Your daily dose gaming pleasure</small></h1>
    <div class="mt-4">      
        <p class="text-center">We have great games for sale.</p>
        <p class="text-center">To start, have a look at the<br /> <a asp-action="Index" asp-controller="Games" class="btn btn-light btn-outline-dark mt-1">product catalog!</a></p>


    </div>

</div>
